<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">

        <style>
            
        </style>
</head>
<body>
    <h2 class="offset-4 mt-5">Create your account</h2>
    <div class="row row-cols-lg-6">
    <form class="offset-4 mt-4" method="post" action="/login">
    <div>
        <label class="form-label" for="">user name</label>
        <input name="username" class="form-control" type="text">
    </div>

    <div>
        <label class="form-label" for="">email </label>
        <input name="email" class="form-control" type="text">
    </div>

    <div>
        <label class="form-label" for="">Password</label>
        <input class="form-control" name="password" type="password">
    </div>

<button class="btn mt-3 btn-primary">log in</button>
  </form>

    </div>
</body>
</html>